@charset "UTF-8";
html {
  font-size: 16px;
}

body {
  font-family: "Roboto", "Noto Sans JP", sans-serif;
}

a[href^="tel:"] {
  pointer-events: none;
}
@media screen and (max-width: 768px) {
  a[href^="tel:"] {
    pointer-events: auto;
  }
}

a {
  transition: opacity 0.3s;
}
a:hover {
  opacity: 0.7;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul,
ol {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

a {
  text-decoration: none;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
  width: 100%;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Blur images when they have no alt attribute */
img:not([alt]) {
  filter: blur(10px);
}

/* フォームリセット */
input,
button,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
}

textarea {
  resize: vertical;
}

input[type=checkbox],
input[type=radio] {
  display: none;
}

input[type=submit],
input[type=button],
label,
button,
select {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

.header {
  padding: 24px 20px 25px;
  border-bottom: 1px solid #99958F;
  background-color: transparent;
  position: absolute;
  z-index: 100;
  width: 100%;
  transition: top 0.3s, background-color 0.3s;
}
@media screen and (max-width: 768px) {
  .header {
    padding: 33px 15px;
    border: none;
  }
}

.header.fixed {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #222222;
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo-image {
  width: 171px;
  aspect-ratio: 171/30;
}
@media screen and (max-width: 768px) {
  .header__logo-image {
    width: 132.01px;
    aspect-ratio: 132.01/22;
  }
}

.header__list {
  display: flex;
  align-items: center;
}

.header__item:not(:first-child) {
  margin-left: 36px;
}

.header__link {
  font-size: 18px;
  color: #F9F2E5;
  font-weight: 500;
  font-family: "Cormorant", "Noto Serif JP", serif;
}

.hamburger {
  position: fixed;
  top: 34px;
  right: 15px;
  width: 25px;
  height: 16px;
  z-index: 9999;
}

.hamburger.js-hamburger.is-active {
  top: 30px;
  right: 14px;
}

.hamburger span {
  width: 22px;
  height: 2px;
  background-color: #F9F2E5;
  position: absolute;
  transition: transform 0.3s, opacity 0.3s;
}

.hamburger span:nth-child(1) {
  top: 0;
}

.hamburger span:nth-child(2) {
  top: 8px;
}

.hamburger span:nth-child(3) {
  top: 16px;
}

.hamburger.is-active span:nth-child(1) {
  top: 6px;
  right: -1px;
  transform: rotate(-45deg);
}

.hamburger.is-active span:nth-child(2) {
  opacity: 0;
}

.hamburger.is-active span:nth-child(3) {
  top: 6px;
  right: -1px;
  transform: rotate(45deg);
}

.drawer__menu {
  display: none;
  width: 100%;
  height: 100vh;
  background-color: rgba(34, 34, 34, 0.9);
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
}

.drawer__inner {
  width: 198px;
  margin-top: 197px;
  margin-inline: auto;
}

.drawer__item {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.drawer__item:not(:first-child) {
  margin-top: 44px;
}

.drawer__item:nth-child(4) {
  margin-top: 46px;
}

.drawer__logo {
  width: 14px;
  margin-top: 6px;
  aspect-ratio: 1/1;
}

.drawer__link {
  margin-left: 10px;
  margin-top: 1px;
  font-size: 18px;
  color: #F9F2E5;
  font-weight: 500;
  font-family: "Cormorant", "Noto Serif JP", serif;
}

.button.drawer__button {
  padding: 12px 70px 10px;
  border-radius: 8px;
}

.fv {
  width: 100%;
}

.fv__inner {
  width: 100%;
}

.fv__slider,
.swiper-wrapper,
.swipper-slider {
  width: 100%;
}

.swiper-slide picture {
  aspect-ratio: 1440/814;
  position: relative;
}
@media screen and (max-width: 768px) {
  .swiper-slide picture {
    aspect-ratio: 375/665;
  }
}

.swiper-pagination-bullets.swiper-pagination-horizontal {
  left: 0;
  bottom: 4.67%;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: 2.4%;
  }
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 10px;
}
@media screen and (max-width: 768px) {
  .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 5px;
  }
}

.swiper-pagination-bullet {
  width: 70px;
  height: 4px;
  opacity: 1;
  border-radius: 0;
  background-color: #332F27;
}
@media screen and (max-width: 768px) {
  .swiper-pagination-bullet {
    width: 40px;
    height: 2px;
  }
}

.swiper-pagination-bullet-active {
  background-color: #F9F2E5;
}

.swiper-button-prev,
.swiper-button-next {
  width: 34px;
  height: 34px;
}
@media screen and (max-width: 768px) {
  .swiper-button-prev,
.swiper-button-next {
    display: none;
  }
}

.swiper-button-prev {
  top: 60%;
  left: 4.86%;
}
@media screen and (max-width: 768px) {
  .swiper-button-prev {
    display: none;
  }
}

.swiper-button-next {
  top: 60%;
  right: 4.86%;
}
@media screen and (max-width: 768px) {
  .swiper-button-next {
    display: none;
  }
}

.swiper-button-prev::after,
.swiper-button-next::after {
  content: url(../images/arrow.svg);
}
@media screen and (max-width: 768px) {
  .swiper-button-prev::after,
.swiper-button-next::after {
    content: "";
  }
}

.swiper-button-next::after {
  transform: rotate(180deg);
}

.fv__title-wrap {
  position: absolute;
  top: 49.5%;
  left: 14.2%;
  z-index: 10;
}
@media screen and (max-width: 768px) {
  .fv__title-wrap {
    top: 42%;
    left: 50%;
    transform: translateX(-50%);
    width: 268px;
  }
}

.fv__main-title {
  font-size: 54px;
  font-family: "Cormorant", "Noto Serif JP", serif;
  font-weight: 500;
  color: #F9F2E5;
  letter-spacing: 0.05em;
}
@media screen and (max-width: 768px) {
  .fv__main-title {
    font-size: 36px;
    letter-spacing: normal;
  }
}

.fv__sub-title {
  font-size: 18px;
  font-weight: 400;
  font-family: "Cormorant", "Noto Serif JP", serif;
  color: #fff;
  letter-spacing: 0.12em;
  margin-top: 10px;
}
@media screen and (max-width: 768px) {
  .fv__sub-title {
    font-size: 14px;
    color: #F9F2E5;
    letter-spacing: normal;
    text-align: center;
  }
}

.about {
  padding: 80px 0;
  background-color: #272625;
}
@media screen and (max-width: 768px) {
  .about {
    padding: 62px 0 70px;
  }
}

.about__contents {
  margin-top: 78px;
  position: relative;
}
@media screen and (max-width: 768px) {
  .about__contents {
    margin-top: 49px;
  }
}

.about__contents-box {
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .about__contents-box {
    flex-direction: column-reverse;
    align-items: center;
  }
}

.about__contents-image {
  width: 360px;
  aspect-ratio: 360/500;
}
@media screen and (max-width: 768px) {
  .about__contents-image {
    margin-top: 38px;
    width: 240px;
    aspect-ratio: 240/333;
  }
}

.about__contents-text {
  writing-mode: vertical-rl;
  margin-top: 20px;
  margin-left: 52px;
  font-size: 22px;
  font-weight: 400;
  font-family: "Cormorant", "Noto Serif JP", serif;
  color: #F9F2E5;
  letter-spacing: 0.05em;
  line-height: 1.409em;
}
@media screen and (max-width: 768px) {
  .about__contents-text {
    font-size: 14px;
    line-height: 2.1;
    margin-top: 0;
    margin-left: 0;
    letter-spacing: 0.28em;
  }
}

.about__text {
  max-width: 600px;
  font-size: 16px;
  font-family: "Cormorant", "Noto Serif JP", serif;
  letter-spacing: 0.05em;
  color: #F9F2E5;
  line-height: 2;
  font-weight: 300;
  position: absolute;
  left: 50%;
  bottom: -70px;
  transform: translateX(-50%);
}
@media screen and (max-width: 768px) {
  .about__text {
    font-size: 14px;
    line-height: 1.857;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    bottom: -104px;
  }
}

.about__button-box {
  text-align: center;
  margin-top: 108px;
}
@media screen and (max-width: 768px) {
  .about__button-box {
    margin-top: 144px;
  }
}

.button.about__button {
  padding: 16px 57px;
  font-size: 16px;
  font-family: "Cormorant", "Noto Serif JP", serif;
  font-weight: 400;
  letter-spacing: 0.05em;
  position: relative;
  transition: box-shadow 0.3s, opacity 0.3s;
  border-radius: 8px;
}
.button.about__button:hover {
  box-shadow: 0 15px 10px rgba(34, 34, 34, 0.8);
}
@media screen and (max-width: 768px) {
  .button.about__button {
    font-size: 17px;
    padding: 14px 46px 12px;
  }
}

.about__button::after {
  content: url(../images/button-arrow.png);
  width: 5px;
  height: 10px;
  aspect-ratio: 1/2;
  position: absolute;
  top: 15px;
  right: 21px;
}
@media screen and (max-width: 768px) {
  .about__button::after {
    top: 13px;
    right: 18px;
  }
}

.service {
  padding: 80px 0px;
  background-color: #222222;
}
@media screen and (max-width: 768px) {
  .service {
    padding: 56px 0 58px;
  }
}

.service__select-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 48px;
}
@media screen and (max-width: 768px) {
  .service__select-button {
    margin-top: 45px;
  }
}

.service__select-link {
  font-size: 16px;
  font-family: "Cormorant", "Noto Serif JP", serif;
  font-weight: 400;
  color: #F9F2E5;
  letter-spacing: 0.05em;
  padding: 0;
  padding-bottom: 2px;
}
@media screen and (max-width: 768px) {
  .service__select-link {
    font-size: 14px;
  }
}

.service__select-link.is-active {
  border-bottom: 1px solid #707070;
}

.service__select-link:not(:first-child) {
  margin-left: 55px;
}
@media screen and (max-width: 768px) {
  .service__select-link:not(:first-child) {
    margin-left: 45px;
  }
}

.service__list {
  display: none;
  max-width: 1155px;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 330px);
  gap: 38px 20px;
  margin-top: 50px;
}
@media screen and (max-width: 768px) {
  .service__list {
    grid-template-columns: repeat(auto-fit, 250px);
  }
}

.service__list.is-active {
  display: grid;
}

.card {
  position: relative;
  width: 330px;
}
@media screen and (max-width: 768px) {
  .card {
    width: 250px;
  }
}

.card__image {
  width: 330px;
  aspect-ratio: 330/370;
}
@media screen and (max-width: 768px) {
  .card__image {
    width: 250px;
    aspect-ratio: 250/280;
  }
}

.card__tag {
  font-size: 12px;
  font-family: "Cormorant", "Noto Serif JP", serif;
  font-weight: 400;
  color: #F9F2E5;
  letter-spacing: 0.05em;
  padding: 7px 28px 6px;
  background-color: #332F27;
  width: 79px;
  position: absolute;
  top: 0;
  left: 0;
}
@media screen and (max-width: 768px) {
  .card__tag {
    padding: 7px 29px 6px;
  }
}

.card__description {
  padding: 16px;
}

.card__title {
  font-size: 16px;
  font-family: "Cormorant", "Noto Serif JP", serif;
  font-weight: 400;
  letter-spacing: 0.05em;
  color: #F9F2E5;
  margin-top: 1px;
}
@media screen and (max-width: 768px) {
  .card__title {
    font-size: 14px;
  }
}

.card__text {
  font-size: 13px;
  font-weight: 300;
  letter-spacing: 0.05em;
  line-height: 1.538;
  color: #F9F2E5;
  margin-top: 10px;
}

.news {
  padding: 80px 0;
  background-color: #BCB5A8;
}
@media screen and (max-width: 768px) {
  .news {
    padding: 56px 0 48px;
  }
}

.news__list {
  margin-top: 38px;
  max-width: 1030px;
  margin-inline: auto;
}
@media screen and (max-width: 375px) {
  .news__list {
    margin-top: 35px;
    max-width: 285px;
  }
}

.news__item {
  display: flex;
  align-items: center;
  padding-bottom: 26px;
}
@media screen and (max-width: 768px) {
  .news__item {
    padding-bottom: 19px;
    flex-wrap: wrap;
  }
}

.news__item:not(:first-child) {
  margin-top: 38px;
}
@media screen and (max-width: 768px) {
  .news__item:not(:first-child) {
    margin-top: 21px;
  }
}

@media screen and (max-width: 768px) {
  .news__item:nth-child(3) {
    margin-top: 22px;
  }
}

.news__item:not(:last-child) {
  border-bottom: 1px solid #a4a4a0;
}

.news__date {
  font-size: 14px;
  font-family: "Roboto", "Noto Sans JP", sans-serif;
  font-weight: 400;
  color: #222222;
}
@media screen and (max-width: 768px) {
  .news__date {
    font-size: 13px;
    margin-top: 5px;
  }
}

.news__tag {
  margin-left: 30px;
  font-size: 10px;
  font-weight: 400;
  color: #fff;
  padding: 6.5px 24px;
  background-color: #332F27;
}
@media screen and (max-width: 768px) {
  .news__tag {
    padding: 4.5px 20px;
  }
}

.news__text {
  margin-left: 30px;
  font-size: 15px;
  font-weight: 400;
  color: #222222;
  display: -webkit-box;
  overflow: hidden;
  -webkit-orient: vertical;
  -webkit-line-clamp: 3;
}
@media screen and (max-width: 768px) {
  .news__text {
    font-size: 14px;
    margin-top: 22px;
    margin-left: 0;
  }
}

@media screen and (max-width: 768px) {
  .news__text--last {
    margin-top: 25px;
    line-height: 1.5;
  }
}

.contact {
  background-color: #272625;
}

.contact__contents {
  display: flex;
}
@media screen and (max-width: 940px) {
  .contact__contents {
    justify-content: center;
  }
}

.contact__inner {
  padding: 80px 50px 0 120px;
  width: 44%;
  margin-left: 0;
  z-index: 10;
}
@media screen and (max-width: 1024px) {
  .contact__inner {
    margin-left: auto;
  }
}
@media screen and (max-width: 940px) {
  .contact__inner {
    padding: 50px 0;
    width: 100%;
    background-image: url(../images/contact-sp.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    aspect-ratio: 375/312;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.inner.contact__inner {
  margin-right: 0;
  padding-right: 50px;
}
@media screen and (max-width: 1024px) {
  .inner.contact__inner {
    padding-right: 15px;
    margin-left: auto;
  }
}
@media screen and (max-width: 940px) {
  .inner.contact__inner {
    margin-left: 0;
    padding-top: 54px;
  }
}

@media screen and (max-width: 940px) {
  .section__title-wrap.service__title-wrap {
    width: 100%;
  }
}

.contact__text {
  margin-top: 60px;
  font-size: 14px;
  font-weight: 400;
  font-family: "Cormorant", "Noto Serif JP", serif;
  color: #F9F2E5;
  letter-spacing: 0.05em;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .contact__text {
    margin-top: 45px;
    font-size: 13px;
  }
}

.contact__button-area {
  text-align: center;
}

.button.contact__button {
  margin-top: 18px;
  font-size: 16px;
  font-family: "Cormorant", "Noto Serif JP", serif;
  font-weight: 400;
  letter-spacing: 0.05em;
  color: #F9F2E5;
  padding: 16px 49px;
  position: relative;
  transition: box-shadow 0.3s, opacity 0.3s;
  display: inline-block;
}
.button.contact__button:hover {
  box-shadow: 0 15px 10px rgba(34, 34, 34, 0.8);
}
@media screen and (max-width: 768px) {
  .button.contact__button {
    padding: 15px 40px 12px;
    margin-top: 16px;
    font-size: 14px;
    border-radius: 8px;
  }
}

.contact__button::after {
  content: url(../images/button-arrow.png);
  width: 5px;
  height: 10px;
  aspect-ratio: 1/2;
  position: absolute;
  top: 15px;
  right: 22px;
}
@media screen and (max-width: 768px) {
  .contact__button::after {
    top: 14px;
    right: 19px;
  }
}

.contact__image {
  width: 670px;
  aspect-ratio: 670/399;
  background-image: url(../images/contact-pc.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}
@media screen and (max-width: 940px) {
  .contact__image {
    width: 0;
    display: none;
  }
}

.footer {
  padding: 31px 0 31px;
  background-color: #222222;
}
@media screen and (max-width: 768px) {
  .footer {
    padding: 20px 0 24px;
  }
}

.footer__copyright {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.05em;
  color: #F9F2E5;
  display: block;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .md-none {
    display: none;
  }
}

.md-show {
  display: none;
}
@media screen and (max-width: 768px) {
  .md-show {
    display: block;
  }
}

.button {
  font-size: 18px;
  padding: 12px 32px;
  font-weight: 500;
  font-family: "Cormorant", "Noto Serif JP", serif;
  color: #F9F2E5;
  border-radius: 3px;
  border: 1px solid #F9F2E5;
}

.inner {
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1230px;
  margin-inline: auto;
}

.section__title-wrap {
  display: flex;
  align-items: center;
}

.section__title-logo {
  width: 23px;
  height: 23px;
  aspect-ratio: 1/1;
}
@media screen and (max-width: 768px) {
  .section__title-logo {
    width: 20px;
    height: 20px;
  }
}

.section__title {
  margin-left: 10px;
  font-size: 38px;
  font-weight: 400;
  font-family: "Cormorant", "Noto Serif JP", serif;
  letter-spacing: 0.05em;
  color: #F9F2E5;
}
@media screen and (max-width: 768px) {
  .section__title {
    font-size: 32px;
  }
}

.section__title-line {
  display: block;
  margin-left: 30px;
  width: 100%;
  height: 1px;
  background-color: #99958F;
}
@media screen and (max-width: 768px) {
  .section__title-line {
    margin-left: 15px;
  }
}